html{
 box-sizing: border-box;   
}
*,*::after, *::before{
    box-sizing: border-box;   
   
}




body{
    margin: 0px;
    padding: 0px;
    background-color: #ffffff;
    font-family: Public Sans, sans-serif;

}
